th, td {

  border: 1px solid black; 
  margin: auto; 

} 



table {
float:left;

}
 

tr:nth-child(even){background-color: #76C7E2;}

#table-wrapper{

display:grid;


}

#Rogue{

grid-column-start:1;
grid-column-end:2;

}


#Fizzling{

grid-column-start:2;
grid-column-end:3;

}

#Strange{

grid-column-start:3;
grid-column-end:4;

}

#Fiery{

grid-row-start:2;
grid-column-start:3;



}

#Bomb{
grid-row-start:4;
grid-row-end:5;
grid-column-start:1;
grid-column-end:2;
}


#Bombling{
grid-row-start:4;
grid-row-end:5;
grid-column-start:2;
grid-column-end:3;
}



