<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
   google.charts.load('current', {'packages':['table']});
   google.charts.load('current', {'packages':['corechart']});
   </script>
    {% macro tab_create(b) %}
   <table>
       <tbody>
         {% for table in b %}
         <tr>
            <td>{{ table.invitied_by }}</td>
            <td>{{ table.count }}</td>
         </tr>
         {% endfor %}
   </table>
   {% endmacro %}

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="table-wrapper">
      <div id="table_div">
          <article>
{{ tab_create(data) }}
          </article>
      </div>
</div>
<script type = "text/javascript" src = "{{ url_for('static', filename = 'rec_table.js') }}" ></script>
</body>
</html>